/*
* {
  border-box: box-sizing;
}

.page1 {
  background-color: white;
  width: 100%;
  height: 100vh;
  position: relative;
}
.AjoutEnseignant {
  background-color: #70bdf2;
  width: 70%;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 25%;
  align-items: center;
  padding: 5px;
  transform: translate(-50%, -25%);
  border-radius: 15px;
}
.column {
  text-align: end;
  width: fit-content;
  margin-right: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.line {
  height: fit-content;
  padding: 5px;
  margin-left: 40px;
}
.btn70,
#password,
#nom,
#prenom,
#username,
#genre {
  width: 150px;
  height: 30px;
  margin-left: 10px;
}
.btn70 {
  color: white;
}
.tete {
  text-align: center;
  color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 50px;
}
.ListEnseignant {
  background-color: #c1e3ff;
  width: 70%;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  align-items: center;
  padding: 5px;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  display: flex;
}
.info {
  display: flex;
  background-color: #edf4fe;
  width: 800px;
  margin-left: 120px;
  justify-content: center;
}
.but {
  background-color: #153f65;
  width: 50px;
  height: 50px;

  color: white;

  margin-left: 20px;
}
.enseignant {
  display: flex;
}
p {
  margin-right: 20px;
}
*/
.page1 {
  width: 100%;
  height: 100vh;
  background-color: white;
  position: relative;
}

.page1 .table-container {
  display: block;

  gap: 10px;
  padding: 1rem;
  margin-top: 100px;
}
.page1 .table1 {
  border-collapse: collapse;
  width: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.page1 .table1 th,
.page1 td {
  border: 1px solid black;

  padding: 8px;
  font-size: 20px;
  width: fit-content !important;
}
.page1 tr {
  text-align: right;
}

.page1 th {
  background-color: rgb(117, 201, 250);
  width: 100px;
  text-align: center !important;
  width: fit-content !important;
}

.page1 .table1 tbody td {
  background-color: rgb(205, 235, 253);
  width: fit-content !important;
  text-align: center !important;
}

.page1 .add1 {
  display: flex;
  gap: 5px;
  left: 15%;
  margin-top: 350px !important;
  position: relative;
  transform: translateX(-15%);
  width: 50%;
}
input[type="text"] {
  width: 180px;
  padding: 10px !important;
  border: 1px solid #ccc;
  margin-top: 10px;
  margin-bottom: 16px;
  margin-left: 32px;
  resize: vertical;
  text-align: end;
}

.page1 .add1 td:last-child {
  display: flex;
  justify-content: space-evenly;
}

.page1 .add1 * {
  font-size: 15px;
}
.soustitre {
  text-align: center;

  font-size: 25px;
  font-family: sans-serif;
  padding-top: 90px;
}
.btn101 {
  margin-top: 10px;
  height: 52px;
  border: #03131f 2px solid;
  color: black;

  color: white;
  margin-right: 120px !important;
}
.btn101:hover {
  background-color: #70bdf2;

  box-shadow: 0 0 10px 1px #153f65 !important;
}
.header {
  display: flex;
}
.header h1 {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
.header .btn504 {
  margin-left: 25px;
}
.header .btn504:hover {
  background-color: #70bdf2;
}
.btn99 {
  width: 80px;
  height: 50px;

  margin-top: 17px;
}
.text1 {
  height: 52px !important;
}
input[type="text"] {
  width: 180px;
  padding: 15px;
  border: 1px solid #ccc;
  margin-top: 10px;
  margin-bottom: 16px;
  margin-left: 32px;
  resize: vertical;
  text-align: end;
}
