.home
{
    width: 100%;
    height: 100vh;
    background-color:black;
    padding: 80px;
}
.btn4
{
    margin: 30px 0px;
    margin-left: 35%;
    background-color: #70bdf2    !important;
    color: white;
    padding: 13px 130px !important;
    border-radius: 5px;
    outline: 0;
    box-shadow: 0px 2px 7px #153f65;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    font-weight: 500;
}
.btn4:hover
{
    background-color: #283593;
    transform: scale(1.4) !important;
    box-shadow:0 0 50px 2px #edf4fe inset !important;
}
.btn41
{
    margin: 30px 0px;
    margin-left: 35%;
    background-color: #70bdf2    !important;
    color: white;
    padding: 10px 155px !important;
    border-radius: 5px;
    outline: 0;
    box-shadow: 0px 2px 4px #153f65;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    font-weight: 500; 
}
.btn41:hover
{
    background-color: #283593;
    transform: scale(1.4) !important;
    box-shadow:0 0 50px 2px #edf4fe inset !important;
}
.btn42
{
    margin: 30px 0px;
    margin-left: 35%;
    background-color: #70bdf2    !important;
    color: white;
    padding: 10px 164px !important;
    border-radius: 5px;
    outline: 0;
    box-shadow: 0px 2px 4px #153f65;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    font-weight: 500; 
}
.btn42:hover
{
    background-color: #283593;
    transform: scale(1.4) !important;
    box-shadow:0 0 50px 2px #edf4fe inset !important;
}
.btn43
{
    margin: 30px 0px;
    margin-left: 35%;
    background-color: #70bdf2    !important;
    color: white;
    padding: 10px 170px !important;
    border-radius: 5px;
    outline: 0;
    box-shadow: 0px 2px 4px #153f65;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    font-weight: 500; 
}
.btn43:hover
{
    
    background-color: #283593;
    transform: scale(1.4) !important;
    box-shadow:0 0 50px 2px #edf4fe inset !important;
}


