.classe {
  width: 100%;
  height: 100vh;
  background-color: white;
  position: relative;
}
.classe {
  background-color: white;
}

.classe .table-container2 {
  display: block;

  gap: 10px;
  padding: 1rem;
  margin-top: 100px;
}

.classe th,
.classe td {
  border: 1px solid black;
  text-align: right;
  padding: 8px;
  font-size: 20px;
  width: fit-content;
}
.classe tr {
  text-align: right;
}

.classe th {
  background-color: rgb(117, 201, 250);
  width: 100pxt;
}

.classe tbody td {
  background-color: rgb(205, 235, 253);
  width: fit-content;
}

.classe .add2 {
  display: flex;
  gap: 5px;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  width: 70%;

  margin-top: 20px !important;
}

.classe .add2 td:last-child {
  display: flex;
  justify-content: space-evenly;
}

.add2 * {
  font-size: 15px;
}
.classe .soustitre {
  text-align: center;

  font-size: 25px;
  font-family: sans-serif;
  padding-top: 90px;
}
.btn101 {
  margin-top: 10px;
  height: 52px;
  border: #03131f 2px solid;
  color: black;
  width: 270px;
  color: white;
}
.classe .btn101:hover {
  background-color: #70bdf2;

  box-shadow: 0 0 10px 1px #153f65 !important;
}
.header {
  display: flex;
}
.header h1 {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
.header .btn504 {
  margin-left: 25px;
}
.header .btn504:hover {
  background-color: #70bdf2;
}
.btn99 {
  width: 50px !important;
  height: 50px;
  margin-right: 5px;
  margin-left: 5px;
}

.classe .table2 tbody tr td,
.classe .table2 thead tr th {
  width: fit-content;
}
.classe .table2 {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
