.login
{
    padding: 100px;
    width: 100%;
    height: 100vh;
}
.mail
{
    padding:1rem;
}
.mdp
{
    padding: 1rem;
}
.iconimg
{
    width: 70px;
    height: 70px ;
    margin-bottom: 1rem;
}
.text-center
{
    margin-left: 65%;
    padding:20px
}

.btn-primary {
    color: #fff;
    background-color:#70bdf2 !important;
    border-color: black !important;
    border: 4px solid hidden !important ;
    width: 91% !important;
    margin-top: 0.5rem;
}
.text-left
{
    margin-right:0%;
}
.reset
{
    padding: 0.75;
    color: black;
    font-size: 12px;
}
.img2
{
  
   margin-top: -400px;
   width: 750px ;
   height: 500px ;
   opacity: 1;
}
